<a href="https://colab.research.google.com/github/yusufbek-murodov/pandas-lessons/blob/main/datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/yusufbek-murodov/course-dataframes/refs/heads/main/melb_data.csv")
df.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13518 entries, 0 to 13517
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     13518 non-null  int64
 1   Suburb         13518 non-null  object
 2   Address        13518 non-null  object
 3   Rooms          13518 non-null  int64
 4   Type           13518 non-null  object
 5   Price          13518 non-null  float64
 6   Method         13518 non-null  object
 7   SellerG        13518 non-null  object
 8   Date           13518 non-null  object
 9   Distance       13518 non-null  float64
 10  Postcode       13518 non-null  float64
 11  Bedroom2       13518 non-null  float64
 12  Bathroom       13518 non-null  float64
 13  Car            13518 non-null  float64
 14  Landsize       13518 non-null  float64
 15  BuildingArea   7101 non-null   float64
 16  YearBuilt      8174 non-null   float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13518 non-null  float64
 19  Longtitude     13518 non-null  float64
 20  Regionname     13518 non-null  object
 21  Propertycount  13518 non-null  float64
dtypes: float64(12), int64(2), object(8)
memory usage: 2.3+ MB

1
-VAZIFA. df dagi barcha ustunlardagiNaN qiymatlar sonini chiqaring

In [5]:
df.isnull().sum()

Unnamed: 0          0
Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea     6417
YearBuilt        5344
CouncilArea      1307
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

2-VAZIFA. df barcha NaN qiymatlarni 0 bilan almashtiring

In [6]:
df.fillna(0)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,0.0,0.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,0.0,0.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13513,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,2.0,652.0,0.0,1981.0,0,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13514,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,2.0,333.0,133.0,1995.0,0,-37.85927,144.87904,Western Metropolitan,6380.0
13515,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,2.0,4.0,436.0,0.0,1997.0,0,-37.85274,144.88738,Western Metropolitan,6380.0
13516,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,0,-37.85908,144.89299,Western Metropolitan,6380.0
13517,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,0,-37.81188,144.88449,Western Metropolitan,6543.0

3-VAZIFA. Quyidagi 2 ustun uchun o'rta qiymatlarni hisoblang:

    BuildingArea
    YearBuilt (butun son qaytishi kerak)

In [7]:
df.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [8]:
df['BuildingArea'].mean()

152.12890349246587

In [9]:
round(df['YearBuilt'].mean())

1965

4-VAZIFA: BuildingArea va YearBuilt ustunlaridagi NaN qiymatlarni shu sutun uchun o'rta qiymatlar bilan almashtiring

DIQQAT! YearBuilt ustuni qiymatlari butun son bo'lishi kerak

In [10]:
building_area_mean = df['BuildingArea'].mean()

year_built_mean = round(df['YearBuilt'].mean())

df.fillna({'BuildingArea': building_area_mean, 'YearBuilt': year_built_mean})

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,152.128903,1965.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.000000,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.000000,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,152.128903,1965.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.000000,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13513,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,2.0,652.0,152.128903,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13514,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,2.0,333.0,133.000000,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13515,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,2.0,4.0,436.0,152.128903,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13516,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.000000,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13517,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.000000,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

5-VAZIFA. .groupby()

Ustun uchun o'rta qiymat har doim ham aniq bo'lavermaydi. Keling avval YearBuilt ustuni uchun aniqroq qiymat topishga harakat qilamiz.

Buning uchun Regionname ustuni qiymatlaridan foydalanishimiz mumkin, ya'ni bir Regiondagi binolar tahminan bir hil yillarda qurilgan deb tahmin qilsak bo'ladi.
5.1 .groupby() yordamida df qiymatlarini Regionname ustuni bo'yicha guruhlang va YaerBuilt ustuni uchun o'rta qiymatni hisoblang.

In [11]:
df.groupby(['Regionname'])['YearBuilt'].mean().astype(int)

Regionname
Eastern Metropolitan          1971
Eastern Victoria              1984
Northern Metropolitan         1962
Northern Victoria             1986
South-Eastern Metropolitan    1976
Southern Metropolitan         1960
Western Metropolitan          1968
Western Victoria              1982
Name: YearBuilt, dtype: int64

5.2. df YearBuilt ustunidagi NaN qiymatlarni yuqoridagi qiymatlar bilan almashtiring.

df[df.Regionname='Eastern Metropolitan']=...

Har bir Regionname uchun qiymatlarni bittalab kiritmaslik uchun for siklidan foydalanishingiz mumkin.

In [12]:
groups = df.groupby(['Regionname'])['YearBuilt'].mean().astype(int)

for idx in groups.index:
  df[df['Regionname'] == idx] = df[df['Regionname'] == idx].fillna({'YearBuilt': groups[idx]})

6-VAZIFA. BuildingArea ustunidagi NaN qiymatlarni to'ldiramiz

BuildingArea bino qurilgan yerning maydonini bildiradi. Bu qiymatlarni tahmin qilish uchun qaysi ustun qiymatlaridan foydalanish to'g'ri deb hisoblaysiz?

In [13]:
df.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,1962.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,1962.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [14]:
# 6.1 dfni xonalar soni bo'yicha o'rta qiymat olib ko'ring
df.groupby(['Rooms'])['BuildingArea'].mean()

Rooms
1      52.539597
2      92.831872
3     139.222721
4     208.986943
5     405.607347
6     278.513889
7     340.423333
8     256.000000
10           NaN
Name: BuildingArea, dtype: float64

In [15]:
# 6.2 Xonalar va uy turi bo'yicha o'rta qiymatni olib ko'ring.
df.groupby(['Rooms', 'Type'])['BuildingArea'].mean()

Rooms  Type
1      h        85.400000
       t        70.714286
       u        50.088250
2      h       103.332575
       t       120.103632
       u        80.852963
3      h       141.621430
       t       137.620152
       u       117.998941
4      h       210.289670
       t       194.634184
       u       161.400000
5      h       407.745961
       t       159.666667
6      h       281.585714
       u       171.000000
7      h       340.423333
8      h       256.000000
       u              NaN
10     h              NaN
Name: BuildingArea, dtype: float64

In [16]:
df[(df['Rooms'] == 10)]

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
11304,11304,Bundoora,5 Ball Ct,10,h,900000.0,PI,Ray,15/07/2017,12.1,...,3.0,2.0,313.0,NaN,2006.0,Darebin,-37.71098,145.05381,Northern Metropolitan,10175.0

In [17]:
groups = df.groupby(['Rooms', 'Type'])['BuildingArea'].mean()

for idx in groups.index:
  room, typ = idx
  mean_value = round(groups[idx], 2)
  df.loc[(df['Rooms'] == room) & (df['Type'] == typ), 'BuildingArea'] = df.loc[(df['Rooms'] == room) & (df['Type'] == typ), 'BuildingArea'].fillna(mean_value)

In [18]:
df.loc[(df.Rooms == 10)]

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
11304,11304,Bundoora,5 Ball Ct,10,h,900000.0,PI,Ray,15/07/2017,12.1,...,3.0,2.0,313.0,NaN,2006.0,Darebin,-37.71098,145.05381,Northern Metropolitan,10175.0

In [19]:
df.drop(1926, inplace=True)
df.drop(11304, inplace=True)

In [20]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [21]:
group_region = df['Regionname'].value_counts()
for idx in group_region.index:
  area = df[df['Regionname'] == idx]['CouncilArea'].value_counts().idxmax()

  df.loc[(df['Regionname'] == idx), 'CouncilArea'] = df.loc[(df['Regionname'] == idx), 'CouncilArea'].fillna(area)

In [22]:
df['Regionname'].value_counts()

Regionname
Southern Metropolitan         4668
Northern Metropolitan         3867
Western Metropolitan          2938
Eastern Metropolitan          1468
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               40
Western Victoria                32
Name: count, dtype: int64

In [23]:
df.isnull().sum()

Unnamed: 0       0
Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64